@import './var.less';
@import './reset.less';
@import './flex-layout.less';
@import './common.less';

#app {
    margin:0px;
    padding:0px;
}
.sticky-header {
    position:sticky;
    top: 0;
    background: white;
}
